*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

h1,
h2 {
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  padding: 30px 40px;
}

.card-header::after,
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

tbody tr:nth-child(even) {
  background-color: hsl(223, 64%, 90%);
}

.btn {
  margin: 16px 0;
  padding: 14px 34px;
  cursor: pointer;
}

button[disabled] {
  background: #c0c7cf;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
